@import url(css/reset.css);
@import url(css/basic.css);
@import url(css/variables.css);
@import url(css/header.css);
@import url(css/logo.css);
@import url(css/hero.css);
@import url(css/about.css);
@import url(css/advantage.css);
@import url(css/products.css);
@import url(css/contact.css);
@import url(css/loading.css);
@import url(css/pagination.css);
@import url(css/value.css);
@import url(css/footer.css);
@import url(css/responsive.css);





